<div id="cont_presentacion" class="flex_center_col">
    <img src="../images/undraw_cat_epte.svg" alt="" class="img_svg">
    <h1><span class="resaltar">¡Hola!</span>, soy Manuel Martinez<span class="resaltar">.</span></h1>
    <a href="#prim_par"><p class="dominante">primer parcial</p></a>
    
</div>
<div id="cont_practicas" class="">
    <a href=""></a>
    <h2 id="prim_par">Primer parcial.</h2>
    <div>
        <p class="parrafos">Esta pagina fue creada con el fin de presentar todos los trabajos, laboratorios vistos en clases.</p>
    </div>
    <div id="indice" class="p_redondas">
        <ul>
            <li><a href="#primera"><span class="claro">Primera practica</span></a>.</li>
            <li><a href="#segundo"><span class="claro">Segunda practica</span></a>.</li>
            <li><a href="#tercero"><span class="claro">Tercera practica</span></a>.</li>
            <li><a href="#cuarto"><span class="claro">Cuarta practica</span></a>.</li>
            <li><a href="#quinta"><span class="claro">Quinta practica</span></a>.</li>
            <li><a href="#sexta"><span class="claro">Sexta practica</span></a>.</li>
            <li><a href="#septima"><span class="claro">Septima practica</span></a>.</li>
            <li><a href="#lista"><span class="claro">Lista de tareas</span></a>.</li>
        </ul>
    </div>